exportPattern("^[[:alpha:]]+")
#import("astro")
import("celestial")
import("cmaeshpc")
import("FITSio")
import("LaplacesDemon")
import("magicaxis")
import("matrixStats")
import("nloptr")
import("ProFit")
import("ProFound")
import("RColorBrewer")
